.about-container {
    background-color: #369acb;
    font-size: 28px;
    color: white;
    display: flex;
    height: 950px;
    padding: 20px;
    font-size: 28px;
}

.myinfo-profile-container {
    width: 35%;
    margin-left: 100px;
    margin-top: 100px;
}

.myinfo-text-container {
}

.myinfo-profile-image {
    width: 350px;
    border-radius: 15px;
    border: 2px solid white;
    margin-bottom: 20px;
    box-shadow: gray 5px 5px 5px;
}

.profile-name {
    margin-bottom: 5px;
    font-weight: bold;
}
.profile-bar {
    width: 330px;
    margin: 0px;
    margin-bottom: 50px;
}

.profile-info-email-container {
    display: flex;
    margin-bottom: 30px;
}

.fa-envelope {
}

.profile-email-link {
    color: white;
    a {
        visited: white;
    }
}

.profile-email-title {
    margin-left: 20px;
    margin-right: 50px;
}

.profile-email-text {
    &:hover {
        color: #dfd3c3;
    }
}

.profile-info-mobile-container {
    display: flex;
    margin-bottom: 30px;
}

.fa-mobile-alt {
    width: 28px;
    margin-left: 5px;
}

.profile-mobile-title {
    margin-left: 15px;
    margin-right: 50px;
}

.profile-mobile-text {
}

.profile-info-github-container {
    display: flex;
    align-items: center;
}

.fa-github {
}

.profile-github-title {
    margin-left: 20px;
    margin-right: 50px;
}

.profile-github-link {
    color: white;
    a {
        visited: white;
    }
}

.profile-github-text {
    &:hover {
        color: #dfd3c3;
    }
}

.about-divide-bar {
    border: 0.1px solid white;
    height: 780px;
    margin-left: 130px;
    margin-top: 100px;
}

.myinfo-description-container {
    margin-top: 180px;
    margin-left: 250px;
    font-size: 25px;
    line-height: 50px;
    background-color: #369acb;
    color: white;
}

.myinfo-resume-container {
    margin-top: 100px;
    margin-left: 100px;
}

.resume-download-button {
    width: 230px;
    height: 60px;
    font-size: 24px;
    color: white;
    background-color: #548cff;
    border: 2px solid white;
    border-radius: 15px;
    transition: 300ms ease-in-out;

    &:hover {
        box-shadow: gray 7px 7px 7px;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 0;
        transition: ease all;
    }
    &:hover:before,
    &:hover:after {
        width: 100%;
        transition: ease all;
    }

    &:active {
        box-shadow: none;
    }
}

@include mobile {
    .about-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 20px;
        font-size: 1rem;
        margin-top: 0px;
        margin-left: -30px;
        margin-bottom: 20px;
    }

    .myinfo-profile-image {
        width: 150px;
        border-radius: 15px;
        border: 2px solid white;
        margin-right: 60px;
        margin-bottom: 20px;
        box-shadow: gray 5px 5px 5px;
    }

    .profile-name {
        margin-bottom: 15px;
        font-weight: bold;
    }

    .profile-bar {
        width: 80vw;
        margin: 0px;
        margin-bottom: 50px;
    }

    .myinfo-profile-container {
        width: 100%;
        margin-left: 50px;
    }

    .profile-info-email-container {
        display: flex;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .profile-info-mobile-container {
        display: flex;
        margin-left: 8px;
        margin-bottom: 20px;
    }

    .profile-mobile-title {
        margin-left: 5px;
        margin-right: 48px;
    }

    .profile-info-github-container {
        display: flex;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .about-divide-bar {
        border: 0.1px solid white;
        width: 80vw;
        height: 0.1px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .myinfo-description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-left: 10px;
        font-size: 14px;
        line-height: 40px;
        background-color: #369acb;
        color: white;
    }

    .myinfo-resume-container {
        margin-top: 50px;
        margin-left: 0px;
    }

    .resume-download-button {
        width: 150px;
        height: 50px;
        font-size: 18px;
        color: white;
        background-color: #548cff;
        border: 2px solid white;
        border-radius: 15px;
        transition: 300ms ease-in-out;

        &:hover {
            box-shadow: gray 7px 7px 7px;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 0;
            transition: ease all;
        }
        &:hover:before,
        &:hover:after {
            width: 100%;
            transition: ease all;
        }

        &:active {
            box-shadow: none;
        }
    }
}

@include tablet {
    .about-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-size: 28px;
        margin-top: 50px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .myinfo-profile-container {
        margin-top: -20px;
        margin-left: 20px;
        display: flex;
        align-items: center;
    }

    .myinfo-profile-image {
        width: 250px;
        border-radius: 15px;
        border: 2px solid white;
        margin-right: 60px;
        margin-bottom: 20px;
        box-shadow: gray 5px 5px 5px;
    }

    .about-divide-bar {
        border: 0.1px solid white;
        width: 70vw;
        height: 0.1px;
        margin-left: 100px;
        margin-top: 30px;
    }

    .myinfo-text-container {
        font-size: 24px;
    }

    .myinfo-description-container {
        margin-top: 50px;
        font-size: 20px;
        line-height: 40px;
        background-color: #369acb;
        color: white;
    }

    .myinfo-resume-container {
        margin-top: 70px;
        margin-left: 0px;
    }
}
