.about-container {
    background-color: #369acb;
    padding: 60px;
    font-size: 28px;
}

.myinfo-container {
    display: flex;
    padding: 20px;
    font-size: 28px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 90px;
}

.profile-name {
    margin-bottom: 5px;
    font-weight: bold;
}
.profile-bar {
    width: 330px;
    margin: 0px;
    margin-bottom: 50px;
}

.profile-info-email-container {
    display: flex;
    margin-bottom: 30px;
}

.fa-envelope {
}

.profile-email-title {
    margin-left: 20px;
    margin-right: 50px;
}

.profile-email-text {
}

.profile-info-mobile-container {
    display: flex;
    margin-bottom: 30px;
}

.fa-mobile-alt {
    width: 28px;
    margin-left: 5px;
}

.profile-mobile-title {
    margin-left: 15px;
    margin-right: 50px;
}

.profile-mobile-text {
}

.profile-info-github-container {
    display: flex;
}

.fa-github {
}

.profile-github-title {
    margin-left: 20px;
    margin-right: 50px;
}

.profile-github-text {
}

.myinfo-resume-container {
    margin-top: 20px;
    margin-left: 100px;
}

.resume-download-button {
    width: 230px;
    height: 60px;
    font-size: 24px;
    color: white;
    background-color: #548cff;
    border: none;
    border-radius: 15px;

    &:hover {
        background-color: #94daff;
        color: black;
        font-size: 25px;
        font-weight: bold;
        box-shadow: gray 6px 6px 6px;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 0;
        transition: ease all;
    }
    &:hover:before,
    &:hover:after {
        width: 100%;
        transition: ease all;
    }

    &:active {
        box-shadow: none;
    }
}

.myinfo-description-container {
    margin-top: 70px;
    margin-left: 150px;
    font-size: 20px;
    line-height: 30px;
    background-color: #369acb;
}
