.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.contact-title {
    margin-right: 500px;
    font-size: 30px;
    font-weight: bold;
}

.contact-navigation-container {
    font-size: 25px;
    line-height: 40px;
}

.fa-envelope {
}

.navigation-email {
}

.fa-mobile-alt {
}

.navigation-number {
}
