.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.contact-title {
    margin-right: 500px;
    font-size: 30px;
    font-weight: bold;
}

.contact-navigation-container {
    font-size: 25px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-envelope {
}

.navigation-email {
}

.fa-mobile-alt {
}

.navigation-number {
}

a {
    color: black;
    text-decoration: none !important;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    cursor: pointer;
}
