.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 350px;
}

.contact-title {
    margin-right: 500px;
    font-size: 30px;
    font-weight: bold;
}

.contact-navigation-container {
    font-size: 18px;
    line-height: 25px;
}

.contact-email-container {
    display: flex;
}

.navigation-email {
}

.contact-number-container {
    display: flex;
}

.navigation-number {
}

.contact-github-container {
    display: flex;
}

.contact-resume-container {
    display: flex;
}
