.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    height: 180px;
}

.footer-contact-container {
    display: flex;
    align-items: center;
}

.fa-hand-point-right {
    width: 20px;
}

.footer-contact {
    font-size: 23px;
    font-weight: bolder;
    margin-right: 40px;
}

.footer-contact-link {
    color: black;
}

@include mobile {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 17px;
        height: 180px;
    }

    .footer-contact-container {
        display: flex;
        margin-bottom: 30px;
    }
}
