.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    height: 180px;
}

.fa-hand-point-right {
    margin-left: 40px;
    margin-right: 5px;
    width: 20px;
}

.footer-contact {
    font-size: 23px;
    font-weight: bolder;
}
