.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: white;
    font-size: 28px;
    font-weight: bold;
    z-index: 999;
    border-bottom: 5px solid #369acb;
}

.header-landing-link {
    color: black;
}

.home-button {
}

.home-navigation-container {
    display: flex;
    margin-left: 600px;
}

.header-about-link {
    color: black;
}

.navigation-about {
    margin-right: 30px;
    cursor: pointer;
}

.header-skills-link {
    color: black;
}

.navigation-skills {
    margin-right: 30px;
    cursor: pointer;
}

.header-projects-link {
    color: black;
}

.navigation-projects {
    margin-right: 30px;
    cursor: pointer;
}

.navigation-contact {
    margin-right: 30px;
    cursor: pointer;
}
