.header-container {
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
}

.home-button {
}

.home-navigation-container {
    display: flex;
    margin-left: 600px;
}

.navigation-about {
    margin-right: 30px;
}

.navigation-skills {
    margin-right: 30px;
}

.navigation-projects {
    margin-right: 30px;
}

.navigation-contact {
    margin-right: 30px;
}
