.landing-container {
    background-color: white;
    height: 880px;
    padding: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-container {
    display: flex;
    background-color: #94daff;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    margin-top: 150px;
}

.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 70%;
    margin-top: 30px;
    margin-right: 150px;
    margin-bottom: 30px;
}

.welcome-text-container {
    line-height: 50px;
    font-weight: bold;
    margin-top: 30px;
}

.onboard-text {
    margin-bottom: 25px;
    position: relative;
    display: block;
    margin: 0;
    font-size: 4rem;
    line-height: 1;
    transform: translateY(6rem);
    animation: up 500ms linear forwards;
    z-index: 1;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 0px;
        height: 1px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
}

.developer-text {
    position: relative;
    display: block;
    margin: 0;
    font-size: 4rem;
    line-height: 1;
    transform: translateY(6rem);
    animation: up 500ms linear forwards;
    z-index: 1;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 0px;
        height: 1px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
}

@keyframes up {
    100% {
        transform: translateY(0);
    }
}

@keyframes draw {
    100% {
        width: 100%;
    }
}

.scroll-container {
    margin-top: 230px;
    background-color: black;
}

.mouse {
    // max-width: $mouse-width;
    height: auto;
}

.scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform, opacity;
    opacity: 1;
}

.scroll-link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}

@keyframes scroll {
    0%,
    20% {
        transform: translateY(0) scaleY(1);
    }

    100% {
        transform: translateY(36px) scaleY(2);
        opacity: 0;
    }
}
.scroll-text {
}
