.skills-container {
    width: 100%;
    height: 950px;
    background-color: #bae9fa;
    padding: 60px;
    font-size: 28px;
}

.skills-title {
}

.skills-bar {
}

.skills-box-container {
    display: flex;
}

.skills-language-title {
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-image {
    width: 100px;
}

.skills-text {
}
