.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: white;
  font-size: 28px;
  font-weight: bold;
  z-index: 999;
  border-bottom: 5px solid #369acb;
}

.header-landing-link {
  color: black;
}

.home-navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 600px;
}

.header-about-link {
  color: black;
}

.navigation-about {
  margin-right: 30px;
  cursor: pointer;
}

.header-skills-link {
  color: black;
}

.navigation-skills {
  margin-right: 30px;
  cursor: pointer;
}

.header-projects-link {
  color: black;
}

.navigation-projects {
  margin-right: 30px;
  cursor: pointer;
}

.navigation-contact {
  margin-right: 30px;
  cursor: pointer;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  height: 180px;
}

.fa-hand-point-right {
  margin-left: 40px;
  margin-right: 5px;
  width: 20px;
}

.footer-contact {
  font-size: 23px;
  font-weight: bolder;
}

.footer-contact-link {
  color: black;
}

.landing-container {
  background-color: white;
  height: 880px;
  padding: 60px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #94daff;
  font-size: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: black;
  margin-top: 150px;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 70%;
  margin-top: 30px;
  margin-right: 150px;
  margin-bottom: 30px;
}

.welcome-text-container {
  line-height: 50px;
  font-weight: bold;
  margin-top: 30px;
}

.onboard-text {
  margin-bottom: 25px;
  position: relative;
  display: block;
  margin: 0;
  font-size: 4rem;
  line-height: 1;
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  -webkit-animation: up 500ms linear forwards;
          animation: up 500ms linear forwards;
  z-index: 1;
  text-shadow: 0px 1px 1px white;
}

.onboard-text::before, .onboard-text::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 1px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.developer-text {
  position: relative;
  display: block;
  margin: 0;
  font-size: 4rem;
  line-height: 1;
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  -webkit-animation: up 500ms linear forwards;
          animation: up 500ms linear forwards;
  z-index: 1;
  text-shadow: 0px 1px 1px white;
}

.developer-text::before, .developer-text::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 1px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

@-webkit-keyframes up {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes draw {
  100% {
    width: 100%;
  }
}

@keyframes draw {
  100% {
    width: 100%;
  }
}

.scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
  margin-top: 210px;
}

.main-scroll-icon {
  width: 37px;
  height: 64px;
  border: 2px solid black;
  border-radius: 50px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-scroll-icon-down {
  content: "";
  background-color: black;
  border-radius: 50px;
  height: 15px;
  width: 5px;
  margin-top: 5px;
  -webkit-animation: MoveScroll 1s ease-in-out infinite;
          animation: MoveScroll 1s ease-in-out infinite;
}

@-webkit-keyframes MoveScroll {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-top: 95%;
  }
}

@keyframes MoveScroll {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-top: 95%;
  }
}

.about-container {
  background-color: #369acb;
  padding: 60px;
  height: 880px;
  font-size: 28px;
  color: white;
}

.myinfo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  font-size: 28px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 90px;
}

.myinfo-text-container {
  margin-left: 100px;
}

.myinfo-profile-image {
  width: 350px;
  border-radius: 15px;
  border: 2px solid white;
  margin-bottom: 20px;
  -webkit-box-shadow: gray 5px 5px 5px;
          box-shadow: gray 5px 5px 5px;
}

.profile-name {
  margin-bottom: 5px;
  font-weight: bold;
}

.profile-bar {
  width: 330px;
  margin: 0px;
  margin-bottom: 50px;
}

.profile-info-email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.profile-email-title {
  margin-left: 20px;
  margin-right: 50px;
}

.profile-email-text:hover {
  color: #dfd3c3;
}

.profile-info-mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.fa-mobile-alt {
  width: 28px;
  margin-left: 5px;
}

.profile-mobile-title {
  margin-left: 15px;
  margin-right: 50px;
}

.profile-info-github-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-github-title {
  margin-left: 20px;
  margin-right: 50px;
}

.profile-github-text:hover {
  color: #dfd3c3;
}

.about-divide-bar {
  border: 0.1px solid white;
  height: 780px;
  margin-left: 130px;
}

.myinfo-description-container {
  margin-top: 80px;
  margin-left: 250px;
  font-size: 25px;
  line-height: 50px;
  background-color: #369acb;
  color: white;
}

.myinfo-resume-container {
  margin-top: 20px;
  margin-left: 100px;
}

.resume-download-button {
  width: 230px;
  height: 60px;
  font-size: 24px;
  color: white;
  background-color: #548cff;
  border: 2px solid white;
  margin-top: 80px;
  border-radius: 15px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.resume-download-button:hover {
  -webkit-box-shadow: gray 7px 7px 7px;
          box-shadow: gray 7px 7px 7px;
}

.resume-download-button:before, .resume-download-button:after {
  content: "";
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.resume-download-button:hover:before, .resume-download-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.resume-download-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 880px;
  background-color: #98bae7;
  padding: 60px;
  font-size: 23px;
}

.skills-title {
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 1200px;
}

.skills-bar {
  width: 90px;
  margin: 0px;
  margin-bottom: 40px;
  margin-right: 1200px;
}

.skills-type-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  border: 3px solid white;
  border-radius: 15px;
  margin-bottom: 10px;
}

.skills-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.skills-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 0 25px 0 5px;
  border-radius: 10px 10px 0 0;
}

.skills-language-title {
  margin: 10px 0 0 10px;
  font-weight: bold;
}

.skills-stack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin-right: 60px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px gray;
          box-shadow: 3px 3px 3px gray;
  padding: 5px;
}

.stack-image {
  width: 40px;
  margin-right: 10px;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #369acb;
  padding: 60px;
  font-size: 28px;
}

.projects-title {
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

.projects-bar {
  width: 130px;
  margin: 0px;
  margin-bottom: 50px;
  color: white;
}

.project-white-container {
  width: 80%;
  height: 700px;
  background-color: white;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  border-radius: 10px;
}

.project-name {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.project-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-carousel {
  width: 500px;
  height: 255px;
  border: 4px solid #369acb;
  margin-bottom: 40px;
}

.project-details-container {
  margin-left: 50px;
  font-size: 15px;
}

.details-title {
  font-weight: bold;
  margin-top: 20px;
}

.details-sentence {
  margin-left: 20px;
  margin-top: 10px;
}

.project-stack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 30px;
}

.stack-box {
  border: 1px solid black;
  border-radius: 15px;
  padding: 7px;
  margin-right: 10px;
}

.project-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
}

.project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
}

.project-home-icon {
  width: 35px;
}

.project-github-icon {
  width: 35px;
}

.project-retrospect-icon {
  width: 35px;
  height: 35px;
}

.project-link-text {
  margin-left: 10px;
  font-weight: bolder;
  color: black;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: white;
  text-decoration: none !important;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */