@import "./mixin";
@import "./components/Header";
@import "./components/Footer";
@import "./components/Landing";
@import "./components/About";
@import "./components/Skills";
@import "./components/Mealtomeal";
@import "./pages/Main";

header {
}

body {
    word-break: keep-all;
}

section {
    padding: 8vh 0vw;
    min-height: 80vh;
    min-width: fit-content;
}
