.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  font-size: 28px;
  font-weight: bold;
  z-index: 999;
  border-bottom: 5px solid #369acb;
}

.header-landing-link {
  color: black;
  margin-left: 20px;
}

.home-navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
}

.header-about-link {
  color: black;
}

.navigation-about {
  margin-right: 30px;
  cursor: pointer;
}

.header-skills-link {
  color: black;
}

.navigation-skills {
  margin-right: 30px;
  cursor: pointer;
}

.header-projects-link {
  color: black;
}

.navigation-projects {
  margin-right: 30px;
  cursor: pointer;
}

.navigation-contact {
  margin-right: 30px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header-container {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    font-size: 23px;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  height: 180px;
}

.footer-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-hand-point-right {
  width: 20px;
}

.footer-contact {
  font-size: 23px;
  font-weight: bolder;
  margin-right: 40px;
}

.footer-contact-link {
  color: black;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 17px;
    height: 180px;
  }
  .footer-contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
}

.landing-container {
  background-color: white;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #94daff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: black;
  margin-top: 110px;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 70%;
  margin-top: 30px;
  margin-right: 150px;
  margin-bottom: 30px;
}

.welcome-text-container {
  line-height: 50px;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 30px;
}

.onboard-text {
  margin-bottom: 25px;
  position: relative;
  display: block;
  margin: 0 0 30px 0;
  line-height: 1;
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  -webkit-animation: up 500ms linear forwards;
          animation: up 500ms linear forwards;
  z-index: 1;
  text-shadow: 0px 1px 1px white;
}

.onboard-text::before, .onboard-text::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 1px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.developer-text {
  position: relative;
  display: block;
  margin: 0;
  line-height: 1;
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  -webkit-animation: up 800ms linear forwards;
          animation: up 800ms linear forwards;
  z-index: 1;
  text-shadow: 0px 1px 1px white;
}

.developer-text::before, .developer-text::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 1px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

@-webkit-keyframes up {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes draw {
  100% {
    width: 100%;
  }
}

@keyframes draw {
  100% {
    width: 100%;
  }
}

.scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
  margin-top: 190px;
}

.main-scroll-icon {
  width: 37px;
  height: 64px;
  border: 2px solid black;
  border-radius: 50px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-scroll-icon-down {
  content: "";
  background-color: black;
  border-radius: 50px;
  height: 15px;
  width: 5px;
  margin-top: 5px;
  -webkit-animation: MoveScroll 1s ease-in-out infinite;
          animation: MoveScroll 1s ease-in-out infinite;
}

@-webkit-keyframes MoveScroll {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-top: 95%;
  }
}

@keyframes MoveScroll {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-top: 95%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .welcome-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #94daff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    color: black;
    margin-top: 60px;
  }
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    margin-left: 70px;
  }
  .welcome-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
    margin-left: -40px;
    margin-bottom: 30px;
  }
  .scroll-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5rem 5rem 1rem 2.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    margin: 30px 80px 30px 30px;
  }
  .welcome-text-container {
    line-height: 50px;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 30px;
  }
}

.about-container {
  background-color: #369acb;
  font-size: 28px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 950px;
  padding: 20px;
  font-size: 28px;
}

.myinfo-profile-container {
  width: 35%;
  margin-left: 100px;
  margin-top: 100px;
}

.myinfo-profile-image {
  width: 350px;
  border-radius: 15px;
  border: 2px solid white;
  margin-bottom: 20px;
  -webkit-box-shadow: gray 5px 5px 5px;
          box-shadow: gray 5px 5px 5px;
}

.profile-name {
  margin-bottom: 5px;
  font-weight: bold;
}

.profile-bar {
  width: 330px;
  margin: 0px;
  margin-bottom: 50px;
}

.profile-info-email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.profile-email-link {
  color: white;
}

.profile-email-link a {
  visited: white;
}

.profile-email-title {
  margin-left: 20px;
  margin-right: 50px;
}

.profile-email-text:hover {
  color: #dfd3c3;
}

.profile-info-mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.fa-mobile-alt {
  width: 28px;
  margin-left: 5px;
}

.profile-mobile-title {
  margin-left: 15px;
  margin-right: 50px;
}

.profile-info-github-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-github-title {
  margin-left: 20px;
  margin-right: 50px;
}

.profile-github-link {
  color: white;
}

.profile-github-link a {
  visited: white;
}

.profile-github-text:hover {
  color: #dfd3c3;
}

.about-divide-bar {
  border: 0.1px solid white;
  height: 780px;
  margin-left: 130px;
  margin-top: 100px;
}

.myinfo-description-container {
  margin-top: 180px;
  margin-left: 250px;
  font-size: 25px;
  line-height: 50px;
  background-color: #369acb;
  color: white;
}

.myinfo-resume-container {
  margin-top: 100px;
  margin-left: 100px;
}

.resume-download-button {
  width: 230px;
  height: 60px;
  font-size: 24px;
  color: white;
  background-color: #548cff;
  border: 2px solid white;
  border-radius: 15px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.resume-download-button:hover {
  -webkit-box-shadow: gray 7px 7px 7px;
          box-shadow: gray 7px 7px 7px;
}

.resume-download-button:before, .resume-download-button:after {
  content: "";
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.resume-download-button:hover:before, .resume-download-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.resume-download-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    padding: 20px;
    font-size: 1rem;
    margin-top: 0px;
    margin-left: -30px;
    margin-bottom: 20px;
  }
  .myinfo-profile-image {
    width: 150px;
    border-radius: 15px;
    border: 2px solid white;
    margin-right: 60px;
    margin-bottom: 20px;
    -webkit-box-shadow: gray 5px 5px 5px;
            box-shadow: gray 5px 5px 5px;
  }
  .profile-name {
    margin-bottom: 15px;
    font-weight: bold;
  }
  .profile-bar {
    width: 80vw;
    margin: 0px;
    margin-bottom: 50px;
  }
  .myinfo-profile-container {
    width: 100%;
    margin-left: 50px;
  }
  .profile-info-email-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .profile-info-mobile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 8px;
    margin-bottom: 20px;
  }
  .profile-mobile-title {
    margin-left: 5px;
    margin-right: 48px;
  }
  .profile-info-github-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .about-divide-bar {
    border: 0.1px solid white;
    width: 80vw;
    height: 0.1px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .myinfo-description-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 40px;
    background-color: #369acb;
    color: white;
  }
  .myinfo-resume-container {
    margin-top: 50px;
    margin-left: 0px;
  }
  .resume-download-button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: white;
    background-color: #548cff;
    border: 2px solid white;
    border-radius: 15px;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  .resume-download-button:hover {
    -webkit-box-shadow: gray 7px 7px 7px;
            box-shadow: gray 7px 7px 7px;
  }
  .resume-download-button:before, .resume-download-button:after {
    content: "";
    position: absolute;
    width: 0;
    -webkit-transition: ease all;
    transition: ease all;
  }
  .resume-download-button:hover:before, .resume-download-button:hover:after {
    width: 100%;
    -webkit-transition: ease all;
    transition: ease all;
  }
  .resume-download-button:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    font-size: 28px;
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .myinfo-profile-container {
    margin-top: -20px;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .myinfo-profile-image {
    width: 250px;
    border-radius: 15px;
    border: 2px solid white;
    margin-right: 60px;
    margin-bottom: 20px;
    -webkit-box-shadow: gray 5px 5px 5px;
            box-shadow: gray 5px 5px 5px;
  }
  .about-divide-bar {
    border: 0.1px solid white;
    width: 70vw;
    height: 0.1px;
    margin-left: 100px;
    margin-top: 30px;
  }
  .myinfo-text-container {
    font-size: 24px;
  }
  .myinfo-description-container {
    margin-top: 50px;
    font-size: 20px;
    line-height: 40px;
    background-color: #369acb;
    color: white;
  }
  .myinfo-resume-container {
    margin-top: 70px;
    margin-left: 0px;
  }
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 900px;
  background-color: #98bae7;
  font-size: 23px;
}

.skills-title {
  font-size: 32px;
  font-weight: bold;
  margin-top: 70px;
  margin-right: 1200px;
}

.skills-bar {
  width: 90px;
  margin: 0px;
  margin-bottom: 40px;
  margin-right: 1200px;
}

.skills-type-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  border: 3px solid white;
  border-radius: 15px;
  margin-bottom: 10px;
}

.skills-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.skills-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 0 25px 0 5px;
  border-radius: 10px 10px 0 0;
}

.skills-language-title {
  margin: 10px 0 0 10px;
  font-weight: bold;
}

.skills-stack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin-right: 60px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px gray;
          box-shadow: 3px 3px 3px gray;
  padding: 5px;
}

.stack-image {
  width: 40px;
  margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 1300px;
    background-color: #98bae7;
    font-size: 20px;
  }
  .skills-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 70px;
    margin-right: 400px;
  }
  .skills-bar {
    width: 90px;
    margin: 0px;
    margin-bottom: 40px;
    margin-right: 400px;
  }
  .skills-type-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 230px;
    border: 3px solid white;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  .skills-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    padding: 0 25px 0 5px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
  }
  .skills-box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  .skills-stack-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    width: 170px;
    height: 35px;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 3px gray;
            box-shadow: 3px 3px 3px gray;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 900px;
    background-color: #98bae7;
    font-size: 20px;
  }
  .skills-title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 70px;
    margin-right: 740px;
  }
  .skills-bar {
    width: 90px;
    margin: 0px;
    margin-bottom: 40px;
    margin-right: 740px;
  }
  .skills-type-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    border: 3px solid white;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  .skills-box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
  .skills-stack-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    margin-right: 30px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 3px gray;
            box-shadow: 3px 3px 3px gray;
    padding: 5px;
  }
  .stack-image {
    width: 30px;
    margin-right: 10px;
  }
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #369acb;
  font-size: 28px;
}

.projects-title {
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-top: 50px;
}

.projects-bar {
  width: 130px;
  margin: 0px;
  margin-bottom: 50px;
  color: white;
}

.project-white-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 700px;
  background-color: white;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  border-radius: 10px;
}

.project-name {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.project-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-carousel {
  width: 500px;
  height: 255px;
  border: 5px solid #369acb;
  margin-bottom: 40px;
}

.project-details-container {
  margin-left: 50px;
  font-size: 15px;
}

.details-title {
  font-weight: bold;
  margin-top: 20px;
}

.details-sentence {
  margin-left: 20px;
  margin-top: 10px;
}

.project-stack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  margin-top: 30px;
  margin-left: 10px;
}

.stack-box {
  border: 1px solid black;
  border-radius: 15px;
  padding: 7px;
  margin-right: 10px;
}

.project-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
}

.project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
}

.project-link a {
  text-decoration: none;
}

.project-home-icon {
  width: 35px;
}

.project-github-icon {
  width: 35px;
}

.project-retrospect-icon {
  width: 35px;
  height: 35px;
}

.project-link-text {
  width: 85px;
  margin-left: 10px;
  font-weight: bolder;
  color: black;
}

@media (min-width: 320px) and (max-width: 767px) {
  .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #369acb;
    font-size: 20px;
  }
  .project-white-container {
    width: 430px;
    height: 780px;
    background-color: white;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  .project-name {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
  }
  .project-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-carousel {
    width: 300px;
    height: 153px;
    border: 5px solid #369acb;
    margin-bottom: 40px;
  }
  .project-details-container {
    margin-left: 0px;
    font-size: 13px;
  }
  .project-stack-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    margin-top: 30px;
    margin-left: 10px;
  }
  .project-link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 13px;
  }
  .project-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
  }
  .project-link a {
    text-decoration: none;
  }
  .project-home-icon {
    width: 25px;
  }
  .project-github-icon {
    width: 25px;
  }
  .project-retrospect-icon {
    width: 25px;
    height: 25px;
  }
  .project-link-text {
    margin-left: 10px;
    font-weight: bolder;
    color: black;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 500px;
    background-color: #369acb;
    font-size: 24px;
  }
  .project-white-container {
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  .project-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-details-container {
    margin-left: 80px;
    font-size: 15px;
  }
  .project-link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .project-link-text {
    width: 90px;
    margin-left: 10px;
    font-weight: bolder;
    color: black;
  }
}

body {
  word-break: keep-all;
}

section {
  padding: 8vh 0vw;
  min-height: 80vh;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
/*# sourceMappingURL=App.css.map */